* {
  margin: 0;
  overflow: 0;
}

.container{
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
}

.box{
  position: absolute;
  height: 33%;
  width: 100%;
  left: -100%;
  background-color: #000;
  animation-name: slide;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.box:nth-child(2){
  top: 33%;
  animation-duration: 3.25s;
}

.box:nth-child(3){
  top: 66%;
  animation-duration: 3s;
}

@keyframes slide{
  from {
    left: -100%;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}